.home {
  padding: 110px 0 115px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.home .home-left h1 {
  max-width: 350px;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  color: #22343d;
}

.home .home-left p {
  padding-top: 18px;
  max-width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #22343d;
}

.home .home-left .home__left-btns {
  margin-top: 45px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.home .home-left .home__left-btns .home-leftbtn {
  padding: 15px 41px;
  background: #02897a;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
}
.home .home-left .home__left-btns .home__btns-watch {
  display: flex;
  align-items: center;
  gap: 8.5px;
}
.home .home-left .home__left-btns .home__btns-watch a {
  white-space: nowrap;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #02897a;
  border-bottom: 1px solid #02897a;
}
.home .home-right img {
  width: 100%;
}

@media (max-width: 1000px) {
  .home {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
  .home .home-right img {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .home {
    text-align: center;
  }
  .home .home-left .home__left-btns {
    flex-direction: column;
    text-align: center;
  }
  .home .home-left p {
    font-size: 14px;
  }
  .home .home-left h1 {
    font-size: 35px;
  }
}
